* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

body {
    background: linear-gradient(315deg, green 3%, yellow 38%, red 68%);
    animation: gradient 150s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.display {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    border-radius: 8px;
    border: none;
    max-width: 250px;
    margin: 10px auto;
}

.hide {
    display: none;
}

.container {
    width: 400px;
	height: 400px;
    color: #fff;
	display: grid;
    justify-content: center;
    gap: 10px;
    margin: auto;
	grid-template: repeat(3, 1fr) / repeat(4, 1fr);
}

.tile {
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: none;
     border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 120px;
    user-select: none;
}

.player2 {
    color: #da0925;
}

.player1 {
    color: #498AFB;
}

.tile.G {
    color: green; /* Style for 'G' */
}

.tile.Y{
    color:yellow;
}

.tile.R{
    color:red;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#reset {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #498AFB;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
 
#reset:hover {background-color: #3462b2}
  
#reset:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
